// forms
.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 50px 40px;
  background-color: $white;
  box-shadow: 0 0 40px $light_grey;
  border-radius: 12px;
  @include to($break_sm) {
    padding: 25px 20px;
  }
  &-wrapper {
    margin: 70px 0;
    width: 50%;
    @include to($break_lg) {
      width: 70%;
    }
    @include to($break_sm) {
      width: 100%;
    }
  }

  &-field {
    .input {
      width: 100%;
    }

    &-btns {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      @include to($break_md) {
        flex-wrap: wrap;
      }
    }

    &-links {
      display: flex;
      gap: 1rem;
      @include to($break_md) {
        flex-wrap: wrap;
      }
    }
  }
}

.auth-btn {
  span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
}

// /forms

// user
.user {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
  margin-top: 150px;

  &-info, &-settings {
    flex: 1 0 calc(100% / 2 - 3rem);
    @include to($break_lg) {
      flex: 1 0 100%;
    }
  }

  &-bottom {
    flex: 1 0 100%;
  }

  &-props {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;
  }

  &-prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    @include to($break_lg) {
      flex-wrap: wrap;
      gap: 2rem;
    }
    &-name {
      width: 15%;
      @include to($break_lg) {
        width: 40%;
      }
    }

    &-value {
      width: 25%;
      @include to($break_lg) {
        width: 40%;
      }
    }

    .input {
      width: 25%;
      @include to($break_lg) {
        width: 40%;
      }
      @include to($break_sm) {
        width: calc(60% - 2rem);
      }
    }

    .btn {
      width: 30%;
      @include to($break_sm) {
        width: 100%;
      }
    }
  }

  &-settings {
    &-items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 20px;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      width: calc(100% / 2 - 2rem);
      padding: 30px;
      overflow: hidden;
      box-shadow: 0 0 40px $light_grey;
      border-radius: 10px;
      cursor: pointer;
      transition: .3s;
      @include to($break_sm) {
        width: 100%;
        padding: 15px;
      }
      &:hover {
        background-color: $green;
        box-shadow: 0 0 0 $light_grey;
        transform: scale(1.05);

        .user-settings-name {
          color: $white;
        }

        & svg {
          path {
            stroke: $white;
            fill: $white;
          }
        }

      }

      &:active {
        transform: none;
      }

      &.active {
        background-color: $green;
        box-shadow: 0 0 0 $light_grey;

        &:hover {
          transform: none;
          box-shadow: none;
        }

        .user-settings-name {
          color: $white;
        }

        & svg {
          path {
            stroke: $white;
            fill: $white;
          }
        }
      }
    }
    &-name {
      text-align: center;
    }
  }
}
// /user