<div class="costs-wrapper">
    <div class="container">
        <div class="costs-title">
            <h1>Учет расходов</h1>
        </div>
        <div class="costs-content">
            <div class="costs-search-block">
                <input class="input" type="text" placeholder="Поиск категории">
            </div>
            <div class="costs-categories">
                <div class="costs-search-result">
                    <div class="category">
                        <div class="category-top">
                            <div class="category-name">
                                <span>Название категории</span>
                            </div>
                            <div class="category-show-items-btn">
                                <button class="link">Показать расходы</button>
                            </div>
                        </div>
                        <div class="category-items">
                            <div class="category-items-data">
                                <div class="category-item-date">
                                    Дата добавления
                                </div>
                                <div class="category-item-name">
                                    <span>Название</span>
                                </div>
                                <div class="category-item-price">
                                    <span>Стоимость</span>
                                </div>
                                <div class="category-item-change">
                                </div>
                                <div class="category-item-delete">
                                </div>
                            </div>
                            <div class="category-item">
                                <div class="category-item-date">
                                    <span>22.05.2022</span>
                                </div>
                                <div class="category-item-name">
                                    <span>Расход</span>
                                    <input class="input" type="text" value="Расход">
                                </div>
                                <div class="category-item-price">
                                    <span>150 руб</span>
                                    <input class="input" type="text" value="150">
                                </div>
                                <div class="category-item-change">
                                    <button class="btn">Изменить расход</button>
                                    <button class="btn">Сохранить</button>
                                </div>
                                <div class="category-item-delete">
                                    <button class="btn transparent">Удалить расход</button>
                                </div>
                            </div>
                        </div>
                        <div class="category-bottom">
                            <div class="category-total">
                                Всего потрачено на Еда - 10000 руб
                            </div>
                            <div class="category-add-item">
                                <div class="category-add-item-btn">
                                    <button class="btn">Новый расход</button>
                                </div>
                                <div class="category-add-item-fields">
                                    <input class="input" type="text" placeholder="Название расхода">
                                    <input class="input" type="text" placeholder="Цена">
                                    <button class="btn">Добавить расход</button>
                                    <button class="btn transparent">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="costs-categories">
                    <div class="category-add">
                        <h2>Новая категория</h2>
                        <div class="category-add-controls">
                            <input class="input" type="text" placeholder="Название категории">
                            <button class="btn transparent">Добавить категорию</button>
                        </div>
                        <div class="error">
                            Введите название категории
                        </div>
                    </div>

                    <div class="categories-list">
                        <h2>Ваши категории</h2>
                        <div class="category">
                            <div class="category-top">
                                <div class="category-name">
                                    <span>Еда</span>
                                </div>
                                <div class="category-show-items-btn">
                                    <button class="link">Показать расходы</button>
                                </div>
                            </div>
                            <div class="category-items">
                                <div class="category-items-data">
                                    <div class="category-item-date">
                                        Дата добавления
                                    </div>
                                    <div class="category-item-name">
                                        <span>Название</span>
                                    </div>
                                    <div class="category-item-price">
                                        <span>Стоимость</span>
                                    </div>
                                    <div class="category-item-change">
                                    </div>
                                    <div class="category-item-delete">
                                    </div>
                                </div>
                                <div class="category-item">
                                    <div class="category-item-date">
                                        <span>25.06.2022</span>
                                    </div>
                                    <div class="category-item-name">
                                        <span>Расход</span>
                                        <input class="input" type="text" value="Расход">
                                    </div>
                                    <div class="category-item-price">
                                        <span>150 руб</span>
                                        <input class="input" type="number"value="150">
                                    </div>
                                    <div class="category-item-change">
                                        <button class="btn">Изменить расход</button>
                                        <button class="btn">Сохранить</button>
                                    </div>
                                    <div class="category-item-delete">
                                        <button class="btn transparent">Удалить расход</button>
                                    </div>
                                </div>
                            </div>
                            <div class="category-bottom">
                                <div class="category-total">
                                    Всего потрачено на Еда - 0 руб
                                </div>
                                <div class="category-add-item">
                                    <div class="category-add-item-btn">
                                        <button class="btn">Новый расход</button>
                                    </div>
                                    <div class="category-add-item-fields">
                                        <input class="input" type="text" placeholder="Название расхода" >
                                        <input class="input" type="number" placeholder="Цена">
                                        <button class="btn">Добавить расход</button>
                                        <button class="btn transparent">Отмена</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>